<div class="form-container" *ngIf="hourAction?.event?.action === addHourAction">
  <form [formGroup]="addHourForm" (ngSubmit)="submitHourForm()">
    <div class="input-container">
      <p-dropdown
        styleClass="flex"
        [options]="dropdownDatas"
        optionLabel="nome"
        optionValue="id"
        placeholder="Atividade"
        formControlName="atividadeId"/>
    </div>
    <div class="flex">
      <div class="input-container custom-input">
        <p-calendar
          [timeOnly]="true"
          placeholder="HH:mm"
          formControlName="data_inicio"/>
      </div>
      <div class="input-container custom-input">
        <p-calendar
          [timeOnly]="true"
          placeholder="HH:mm"
          formControlName="data_fim"/>
      </div>
    </div>
    <div>
      <textarea
        rows="5"
        cols="40"
        pInputTextarea
        pTooltip="máx: 200 caracteres"
        tooltipPosition="top"
        [autoResize]="true"
        placeholder="Descrição"
        formControlName="descricao">
      </textarea>
    </div>

    <div class="button-container">
      <button type="submit">Salvar</button>
    </div>
  </form>
</div>

<div class="form-container" *ngIf="hourAction?.event?.action === editHourAction">
  <form [formGroup]="editHourForm" (ngSubmit)="submitEditHour()">
    <div class="input-container">
      <p-dropdown
        styleClass="flex"
        [options]="dropdownDatas"
        optionLabel="nome"
        optionValue="id"
        placeholder="Atividade"
        formControlName="atividadeId"/>
    </div>
    <div class="flex">
      <div class="input-container custom-input">
        <p-calendar
          [timeOnly]="true"
          placeholder="HH:mm"
          formControlName="data_inicio"/>
      </div>
      <div class="input-container custom-input">
        <p-calendar
          [timeOnly]="true"
          placeholder="HH:mm"
          formControlName="data_fim"/>
      </div>
    </div>
    <div>
      <textarea
        rows="5"
        cols="40"
        pInputTextarea
        pTooltip="máx: 200 caracteres"
        tooltipPosition="top"
        [autoResize]="true"
        placeholder="Descrição"
        formControlName="descricao">
      </textarea>
    </div>

    <div class="button-container">
      <button type="submit">Salvar</button>
    </div>
  </form>
</div>
