<div class="invisible-container">
</div>

<div class="sidebar">
  <p-sidebar [(visible)]="sidebarVisible">
    <div class="logo">LogoTest</div>
    <ul>
      <li><a routerLink="/dashboard"><i class='bx bx-home'></i>Dashboard</a></li>
      <li><a routerLink="/project"><i class='bx bx-bar-chart-alt'></i>Projetos</a></li>
      <li><a routerLink="/activity"><i class='bx bx-task'></i>Atividades</a></li>
      <li><a routerLink="/hour"><i class='bx bx-time-five'></i>Horas lançadas</a></li>
      <li><a routerLink="/report"><i class='bx bxs-report'></i>Relatórios</a></li>
      <li><a routerLink="/users"><i class='bx bxs-user-detail'></i>Usuários</a></li>
    </ul>
    <ul class="list-bottom">
      <li><span><i class='bx bx-user-circle'></i>Conta</span></li>
      <li><span id="logOutSpan" (click)="handleLogOut()"><i class='bx bx-log-out'></i>Sair</span></li>
    </ul>
  </p-sidebar>
  <p-button (onClick)="sidebarVisible = true" icon="bx bx-right-arrow-alt" />
</div>
