<div class="title-container">
  <h1>Horas lançadas</h1>
</div>

<div class="flex flex-wrap justify-content-between align-items-center  dropdown-container">
  <p-dropdown
    styleClass="custom-dropdown"
    [options]="dropdownDatas"
    optionLabel="type"
    optionValue="type"
    *appHasRole="['ADMIN']"
    (onChange)="handleDropdownEvent($event)"/>

  <p-button
    styleClass="button-add"
    [text]="true"
    icon="bx bx-plus-circle"
    label="Adicionar"
    pTooltip="Lançar hora"
    tooltipStyleClass="custom-tooltip"
    tooltipPosition="left"
    (onClick)="handleHourEvent(addHourEvent)"
  ></p-button>
</div>
<div class="card-container">
  <p-card
    styleClass="shadow-3"
    >
    <p-table
    [value]="hours"
    [rows]="5"
    [paginator]="true"
    [tableStyle]="{'min-width': '75rem'}"
    [(selection)]="hourSelected"
    [rowHover]="true"
    dataKey="id"
    showCurrentPageReport="true"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} horas lançadas"
    >

    <ng-template pTemplate="header">
      <tr class="table-header">
        <th pSortableColumn="descricao" class="header-column description">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Descrição
            </div>
            <div class="flex justify-content-between align-items-center gap-1">
              <p-sortIcon field="descricao"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="descricao"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </div>
          </div>
        </th>

        <th pSortableColumn="data_registro" class="header-column">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Registro
            </div>
            <div class="flex justify-content-between align-items-center gap-1">
              <p-sortIcon field="data_registro"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="data_registro"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </div>
          </div>
        </th>

        <th pSortableColumn="data_inicio" class="header-column">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              De
            </div>
            <div class="flex justify-content-between align-items-center gap-1">
              <p-sortIcon field="data_inicio"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="data_inicio"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </div>
          </div>
        </th>

        <th pSortableColumn="data_fim" class="header-column">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Até
            </div>
            <div class="flex justify-content-between align-items-center gap-1">
              <p-sortIcon field="data_fim"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="data_fim"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </div>
          </div>
        </th>

        <th pSortableColumn="nomeUsuario" class="header-column">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Responsável
            </div>
            <div class="flex justify-content-between align-items-center gap-1">
              <p-sortIcon field="nomeUsuario"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="nomeUsuario"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </div>
          </div>
        </th>
        <th pSortableColumn="nomeAtividade" class="header-column">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Atividade
            </div>
            <div class="flex justify-content-between align-items-center gap-1">
              <p-sortIcon field="nomeAtividade"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="nomeAtividade"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </div>
          </div>
        </th>
        <th class="header-column">
          <div class="flex justify-content-center">
            Ações
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-hour>
      <tr>
        <td class="description" [pTooltip]="hour?.descricao" tooltipPosition="top" tooltipStyleClass="custom-tooltip"> {{ hour?.descricao }} </td>
        <td> {{ hour?.data_registro }} </td>
        <td> {{ hour?.data_inicio }} </td>
        <td> {{ hour?.data_fim }} </td>
        <td> {{ hour?.nomeUsuario }} </td>
        <td> {{ hour?.nomeAtividade }} </td>
        <td>
          <div class="flex justify-content-center gap-3 align-content-center align-items-center">
            <button
              pButton
              pRipple
              icon="bx bx-pencil"
              [text]="true"
              class="p-button-info"
              pTooltip="Editar hora lançada"
              tooltipPosition="top"
              tooltipStyleClass="custom-tooltip"
              (click)="handleHourEvent(editHourEvent, hour?.id)"
              ></button>
              <button
              pButton
              pRipple
              icon="bx bxs-trash"
              [text]="true"
              class="p-button-danger"
              pTooltip="Remover hora lançada"
              tooltipPosition="top"
              tooltipStyleClass="custom-tooltip"
              *appHasRole="['ADMIN']"
              (click)="handleDeleteHour(hour?.id)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
    </p-table>
  </p-card>
</div>

