.input-container, .button-container {
  height: 30px;
}
.input-container {
  width: 260px;
}
.button-container {
  width: 110px;
}

h2 {
  font-size: 15px;
}
h3, i {
  font-size: 11px;
}
i {
  margin-right: 5px;
}
.titles {
  border-bottom: 1px solid var(--home-input-border);
  width: 180px;
}

.general-metrics {
  border: 1px solid var(--home-input-border);
  border-radius: 8px;
}

.bxs-user-check {
  font-size: 14px;
}
.bxs-circle.completed {
  color: var(--severity-first-color)
}
.bxs-circle.open, .bxs-user-check, .bxs-time-five {
  color: var(--severity-second-color)
}
.bxs-circle.pending {
  color: var(--severity-third-color);
}
.bxs-circle.paused {
  color: var(--severity-fourth-color);
}

.row-report {
  border-bottom: 1px solid var(--home-input-border);
}

.activity-container{
  border-left: 1px solid var(--home-input-border);
}

:host ::ng-deep {

  .p-dropdown, .custom-button {
    width: 100%;
    height: 100%;
  }

  .p-dropdown, .p-dropdown-label, .p-dropdown-item, .custom-button {
    font-size: 14px;
  }
  .p-dropdown {
    box-shadow: none;
    border-radius: 6px;
    border: 1px solid var(--home-input-border);
  }
  .p-dropdown-label {
    display: flex;
    align-items: center;
  }

  .custom-button {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--home-image-background);
  }
  .custom-button .p-button-icon {
    margin-right: 5px;
  }
}
