<div class="home-container">
  <div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
      <div class="title-container">
        <h1>Login</h1>
        <h2>Preencha todos os campos</h2>
      </div>
      <div class="input-container">
        <input type="text" pInputText placeholder="Email" formControlName="email">
      </div>

      <div class="input-container">
        <input type="password" pInputText placeholder="Senha" formControlName="senha">
      </div>

      <div class="button-container">
        <button type="submit" [disabled]="!this.loginForm.valid">Login</button>
      </div>
    </form>
  </div>
</div>
