<div class="card-container">
  <p-card
    header="Projetos"
    >
    <p-table
    [value]="projects"
    [rows]="10"
    [paginator]="true"
    [tableStyle]="{'min-width': '75rem'}"
    [(selection)]="projectSelected"
    [rowHover]="true"
    dataKey="id"
    showCurrentPageReport="true"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} projetos"
    >

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Id
            </div>
            <div class="flex justify-content-between align-items-center">
              <p-sortIcon field="id"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="id"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </div>
          </div>
        </th>

        <th pSortableColumn="nome">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Nome
            </div>
            <div class="flex justify-content-between align-items-center">
              <p-sortIcon field="nome"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="nome"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </div>
          </div>
        </th>

        <th pSortableColumn="descricao">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Descrição
            </div>
            <div class="flex justify-content-between align-items-center">
              <p-sortIcon field="descricao"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="descricao"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </div>
          </div>
        </th>

        <th pSortableColumn="data_inicio">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Inicio
            </div>
            <div class="flex justify-content-between align-items-center">
              <p-sortIcon field="data_inicio"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="data_inicio"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </div>
          </div>
        </th>

        <th pSortableColumn="data_fim">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Fim
            </div>
            <div class="flex justify-content-between align-items-center">
              <p-sortIcon field="data_fim"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="data_fim"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </div>
          </div>
        </th>

        <th pSortableColumn="status">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Status
            </div>
            <div class="flex justify-content-between align-items-center">
              <p-sortIcon field="status"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="status"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </div>
          </div>
        </th>

        <th pSortableColumn="prioridade">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Prioridade
            </div>
            <div class="flex justify-content-between align-items-center">
              <p-sortIcon field="prioridade"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="prioridade"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </div>
          </div>
        </th>

        <th pSortableColumn="usuario.nome">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Responsável
            </div>
            <div class="flex justify-content-between align-items-center">
              <p-sortIcon field="prioridade"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="usuario.nome"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </div>
          </div>
        </th>

       
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-project>
      <tr>
        <td> {{ project?.id }} </td>
        <td> {{ project?.nome }} </td>
        <td [pTooltip]="project?.descricao" tooltipPosition="top"> {{ project?.descricao }} </td>
        <td> {{ project?.data_inicio }} </td>
        <td> {{ project?.data_fim }} </td>
        <td> {{ project?.status }} </td>
        <td> {{ project?.prioridade }} </td>
        <td> {{ project?.usuario.nome }} </td>
      </tr>
    </ng-template>

    </p-table>
  </p-card>
</div>
