<div class="card-container">
  <p-card
    header="Atividades"
    >
    <p-table
    [value]="activities"
    [rows]="10"
    [paginator]="true"
    [tableStyle]="{'min-width': '75rem'}"
    [(selection)]="activitySelected"
    [rowHover]="true"
    dataKey="id"
    showCurrentPageReport="true"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} atividades"
    (onRowExpand)="getHour($event.data.id)"
    >

    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="nome">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Nome
            </div>
            <div class="flex justify-content-between align-items-center">
              <p-sortIcon field="nome"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="nome"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </div>
          </div>
        </th>

        <th pSortableColumn="descricao">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Descrição
            </div>
            <div class="flex justify-content-between align-items-center">
              <p-sortIcon field="descricao"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="descricao"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </div>
          </div>
        </th>

        <th pSortableColumn="data_inicio">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Inicio
            </div>
            <div class="flex justify-content-between align-items-center">
              <p-sortIcon field="data_inicio"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="data_inicio"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </div>
          </div>
        </th>

        <th pSortableColumn="data_fim">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Fim
            </div>
            <div class="flex justify-content-between align-items-center">
              <p-sortIcon field="data_fim"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="data_fim"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </div>
          </div>
        </th>

        <th pSortableColumn="status">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Status
            </div>
            <div class="flex justify-content-between align-items-center">
              <p-sortIcon field="status"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="status"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </div>
          </div>
        </th>

        <th pSortableColumn="nomeUsuario">
          <div class="flex justify-content-between align-items-center">
            <div class="flex justify-content-between align-items-center">
              Responsável
            </div>
            <div class="flex justify-content-between align-items-center">
              <p-sortIcon field="nomeUsuario"></p-sortIcon>
              <p-columnFilter
                type="text"
                field="nomeUsuario"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              ></p-columnFilter>
            </div>
          </div>
        </th>
        <th>
          <div>
            <p-button
              styleClass="p-button-info"
              icon="bx bx-plus"
              label="Adicionar"
              pTooltip="Adicionar atividade"
              tooltipPosition="top"
              (onClick)="handleActivityEvent(addActivityEvent)"
            ></p-button>
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-activity let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            pTooltip="Horas lançadas"
            tooltipPosition="right"
            [pRowToggler]="activity"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="expanded ? 'bx bx-chevron-down' : 'bx bx-chevron-right'" />
        </td>
        <td> {{ activity?.nome }} </td>
        <td [pTooltip]="activity?.descricao" tooltipPosition="top"> {{ activity?.descricao }} </td>
        <td> {{ activity?.data_inicio }} </td>
        <td> {{ activity?.data_fim }} </td>
        <td> {{ activity?.status }} </td>
        <td> {{ activity?.nomeUsuario }} </td>
        <td>
          <div class="flex justify-content-center gap-3 align-content-center align-items-center">
            <button
              pButton
              pRipple
              icon="bx bx-pencil"
              class="p-button-rounded p-button-warning"
              pTooltip="Editar Atividade"
              tooltipPosition="top"
              ></button>
              <button
              pButton
              pRipple
              icon="bx bxs-trash"
              class="p-button-rounded p-button-danger"
              pTooltip="Remover Atividade"
              tooltipPosition="top"
              (click)="handleDeleteActivity(activity?.id, activity?.nome)"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-activity>
      <tr>
        <td colspan="10" id="table-expanded">
          <p-table
            [value]="activity.horasLancadas"
            dataKey="id"
            [scrollable]="true"
            scrollHeight="290px"
            [rowHover]="true"
            [tableStyle]="{'min-width': '75rem'}"
            >
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="activity.horasLancadas.descricao">
                  <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-between align-items-center">
                      Descrição
                    </div>
                    <div class="flex justify-content-between align-items-center">
                      <p-sortIcon field="activity.horasLancadas.descricao"></p-sortIcon>
                      <p-columnFilter
                        type="text"
                        field="activity.horasLancadas.descricao"
                        display="menu"
                        matchMode="contains"
                        [showMatchModes]="false"
                        [showOperator]="false"
                        [showAddButton]="false"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>
                <th pSortableColumn="activity.horasLancadas.data_inicio">
                  <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-between align-items-center">
                      Inicio
                    </div>
                    <div class="flex justify-content-between align-items-center">
                      <p-sortIcon field="activity.horasLancadas.data_inicio"></p-sortIcon>
                      <p-columnFilter
                        type="text"
                        field="activity.horasLancadas.data_inicio"
                        display="menu"
                        matchMode="contains"
                        [showMatchModes]="false"
                        [showOperator]="false"
                        [showAddButton]="false"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>
                <th pSortableColumn="activity.horasLancadas.data_fim">
                  <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-between align-items-center">
                      Fim
                    </div>
                    <div class="flex justify-content-between align-items-center">
                      <p-sortIcon field="activity.horasLancadas.data_fim"></p-sortIcon>
                      <p-columnFilter
                        type="text"
                        field="activity.horasLancadas.data_fim"
                        display="menu"
                        matchMode="contains"
                        [showMatchModes]="false"
                        [showOperator]="false"
                        [showAddButton]="false"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>
                <th pSortableColumn="activity.horasLancadas.nomeUsuario">
                  <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-between align-items-center">
                      Responsável
                    </div>
                    <div class="flex justify-content-between align-items-center">
                      <p-sortIcon field="activity.horasLancadas.nomeUsuario"></p-sortIcon>
                      <p-columnFilter
                        type="text"
                        field="activity.horasLancadas.nomeUsuario"
                        display="menu"
                        matchMode="contains"
                        [showMatchModes]="false"
                        [showOperator]="false"
                        [showAddButton]="false"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>
                <th pSortableColumn="activity.horasLancadas.nomeAtividade">
                  <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-between align-items-center">
                      Atividade
                    </div>
                    <div class="flex justify-content-between align-items-center">
                      <p-sortIcon field="activity.horasLancadas.nomeAtividade"></p-sortIcon>
                      <p-columnFilter
                        type="text"
                        field="activity.horasLancadas.nomeAtividade"
                        display="menu"
                        matchMode="contains"
                        [showMatchModes]="false"
                        [showOperator]="false"
                        [showAddButton]="false"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-hour>
                <tr>
                    <td [pTooltip]="hour?.descricao" tooltipPosition="top">{{ hour?.descricao }}</td>
                    <td>{{ hour?.data_inicio }}</td>
                    <td>{{ hour?.data_fim }}</td>
                    <td>{{ hour?.nomeUsuario }}</td>
                    <td>{{ hour?.nomeAtividade }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">Nenhuma hora lançada encontrada</td>
                </tr>
            </ng-template>
          </p-table>
        </td>
      </tr>
    </ng-template>
    </p-table>
  </p-card>
</div>
