th, td {
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
}
td, .title-container  {
  border-bottom: 1px solid var(--border-bottom-color);
}
.title-container {
  margin-left: 50px;
  margin-right: 50px;
}
.title-container h1 {
  font-size: 25px;
  color: var(--toolbar-button-color);
  text-transform: uppercase;
  font-weight: 600;
}

.card-container {
  padding: 20px 50px;
}

.table-header {
  background-color: var(--home-image-background);
}
.table-expanded-header {
  background-color: var(--background-color);
}
.header-column {
  background-color: transparent;
  color: var(--background-color);
}

.dropdown-container{
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

:host ::ng-deep {
  .p-card-body,
  .p-card-content {
    padding: 0;
  }

  .p-icon-wrapper {
    display: flex;
    align-items: center;
  }
  .pi-filter-icon, .p-sortable-column-icon {
    color: var(--background-color);
  }
  .p-column-filter-menu-button.p-column-filter-menu-button-open,
  .p-column-filter-menu-button.p-column-filter-menu-button-open:hover {
    background: none;
    color: none;
  }
  .p-column-filter-menu-button:hover {
    color: none;
    border-color: none;
    background:var(--filter-icon-hover);
  }

  .button-add.p-button {
    font-size: 14px;
    padding: 5px 13px;
    border-radius: 20px;
    background-color: var(--home-image-background);
    color: var(--background-color);

    &:hover{
      background-color: none;
    }
  }

  .custom-dropdown {
    width: 160px;
    border-radius: 3px;
    border: 1px solid var(--home-input-border);
  }
  .custom-dropdown .p-dropdown-label {
    font-size: 16px;
    padding: 0;
    padding-left: 5px;
  }
  .custom-dropdown .p-dropdown-trigger {
    width: 32px;
    padding: 0 10px;
    color: var(--background-color);
    background-color: var(--home-image-background);
    border-radius: 0;
  }

  .custom-dropdown  .p-dropdown-item{
    padding: 5px;
    border-radius: 0;
    border-bottom: 1px solid var(--border-bottom-color);
  }
  .custom-dropdown  .p-dropdown-items{
    padding: 0;
  }
  .custom-dropdown  .p-dropdown-panel {
    border-radius: 0;
  }

  .p-tag-value {
    font-size: 10px;
  }
}

::ng-deep .custom-tooltip {
  .p-tooltip-text{
    font-size: 13px;
    padding: 5px;
    border-radius: 12px;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px 0 var(--shadow-first-color),
    0 6px 20px 0 var(--shadow-second-color);
    color: var(--home-tooltip-color);
  }
}


#table-expanded-column {
  padding: 0;

  &:hover{
    background:none;
  }
}
.table-expanded-row:hover {
  background: none;
}


@media (max-width: 400px) {
  .dropdown-container {
    flex-direction: column;
    align-items: center !important;
  }
  .title-container h1{
    font-size: 20px;
    text-align: center;
  }

  ::ng-deep {
    .custom-dropdown {
      width: 210px !important;
    }
    .button-add {
      margin-top: 10px;
    }
    .button-add.p-button {
      padding-left: 60px !important;
      padding-right: 60px !important;
    }
  }
}
