.input-container, .button-container {
  height: 30px;
}
.input-container {
  width: 260px;
}
.button-container {
  width: 110px;
}

h2 {
  font-size: 15px;
}
h3, i {
  font-size: 11px;
}
i {
  margin-right: 5px;
}
.title {
  border-bottom: 1px solid var(--home-input-border);
  width: 180px;
}

.general-metrics {
  border: 1px solid var(--home-input-border);
  border-radius: 8px;
}

.row-report {
  border-bottom: 1px solid var(--home-input-border);
}

.bxs-user-check, .bxs-time-five {
  color: var(--severity-second-color)
}

th, td {
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
}
th {
  background-color: var(--home-image-background);
  color: var(--background-color);
}
td {
  border-bottom: 1px solid var(--border-bottom-color);
}


:host ::ng-deep {

  .p-dropdown, .custom-button {
    width: 100%;
  }
  .p-dropdown, .custom-button {
    height: 100%;
  }
  .p-dropdown, .p-dropdown-label, .p-dropdown-item, .custom-button {
    font-size: 14px;
  }
  .p-dropdown {
    box-shadow: none;
  }
  .p-dropdown-label {
    display: flex;
    align-items: center;
  }
  .p-dropdown {
    border-radius: 6px;
    border: 1px solid var(--home-input-border);
  }

  .custom-button {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--home-image-background);
  }
  .custom-button .p-button-icon {
    margin-right: 5px;
  }
}
