<div class="form-container" *ngIf="activityAction?.event?.action === addActivityAction">
    <form [formGroup]="addActivityForm" (ngSubmit)="submitActivityForm()">
      <div class="flex">
        <div class="custom-input">
          <label for="">Nome da atividade:</label>
          <div class="input-container">
            <input
              pInputText
              pTooltip="(max): 50 caracteres"
              tooltipPosition="bottom"
              tooltipStyleClass="custom-tooltip"
              placeholder="Nome"
              formControlName="nome">
          </div>
        </div>

        <div class="custom-input">
          <label for="">Data de início:</label>
          <div class="input-container">
            <p-calendar
              [showIcon]="true"
              [showOnFocus]="false"
              inputId="buttondisplay"
              dateFormat="dd/mm/yy"
              placeholder="dd/mm/yyyy"
              formControlName="data_inicio" />
          </div>
        </div>
        <div class="custom-input">
          <label for="">Data final(prevista):</label>
          <div class="input-container">
            <p-calendar
              [showIcon]="true"
              [showOnFocus]="false"
              inputId="buttondisplay"
              dateFormat="dd/mm/yy"
              placeholder="dd/mm/yyyy"
              formControlName="data_fim" />
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="custom-input">
          <label for="">Responsável:</label>
          <div class="input-container">
            <p-dropdown
              styleClass="flex"
              [options]="usersDatas"
              [filter]="true"
              filterBy="nome"
              optionLabel="nome"
              optionValue="id"
              placeholder="Responsável"
              formControlName="usuarioId"/>
          </div>
        </div>
        <div class="custom-input">
          <label for="">Projeto:</label>
          <div class="input-container">
            <p-dropdown
              styleClass="flex"
              [options]="projectsDatas"
              [filter]="true"
              filterBy="nome"
              optionLabel="nome"
              optionValue="id"
              placeholder="Projeto"
              (onChange)="onProjectChange($event)"
              formControlName="projetoId"/>
          </div>
        </div>
      </div>
      <div class="members">
        <label for="">Integrantes:</label>
        <div class="input-container">
          <p-multiSelect
            styleClass="flex"
            [options]="usersDatas"
            optionLabel="nome"
            placeholder="Integrantes"
            formControlName="integrantesIds" />
        </div>
      </div>
      <div class="status">
        <label for="">Status:</label>
        <div class="input-container">
          <p-dropdown
            styleClass="flex"
            [options]="status"
            optionLabel="name"
            optionValue="name"
            placeholder="Status"
            formControlName="status"/>
        </div>
      </div>
      <div>
        <textarea
          rows="5"
          cols="40"
          pInputTextarea
          pTooltip="(max): 200 caracteres"
          tooltipStyleClass="custom-tooltip"
          tooltipPosition="top"
          placeholder="Descrição"
          [autoResize]="true"
          formControlName="descricao">
        </textarea>
      </div>

      <div class="button-container">
        <button type="submit">Salvar</button>
      </div>
    </form>
</div>

<div class="form-container" *ngIf="activityAction?.event?.action === editActivityAction">
  <form [formGroup]="editActivityForm" (ngSubmit)="submitEditActivity()">
    <div class="flex">
      <div class="custom-input">
        <label for="">Nome da atividade:</label>
        <div class="input-container">
          <input
            pInputText
            pTooltip="(max): 50 caracteres"
            tooltipStyleClass="custom-tooltip"
            tooltipPosition="bottom"
            placeholder="Nome"
            formControlName="nome">
        </div>
      </div>

      <div class="custom-input">
        <label for="">Data de início:</label>
        <div class="input-container">
          <p-calendar
            [showIcon]="true"
            [showOnFocus]="false"
            inputId="buttondisplay"
            dateFormat="dd/mm/yy"
            placeholder="dd/mm/yyyy"
            formControlName="data_inicio" />
        </div>
      </div>
      <div class="custom-input">
        <label for="">Data final(prevista):</label>
        <div class="input-container">
          <p-calendar
            [showIcon]="true"
            [showOnFocus]="false"
            inputId="buttondisplay"
            dateFormat="dd/mm/yy"
            placeholder="dd/mm/yyyy"
            formControlName="data_fim" />
        </div>
      </div>
    </div>
    <div class="flex">
      <div class="custom-input">
        <label for="">Responsável:</label>
        <div class="input-container">
          <p-dropdown
            styleClass="flex"
            [options]="usersDatas"
            [filter]="true"
            filterBy="nome"
            optionLabel="nome"
            optionValue="id"
            placeholder="Responsável"
            formControlName="usuarioId"/>
        </div>
      </div>
      <div class="custom-input">
        <label for="">Projeto:</label>
        <div class="input-container">
          <p-dropdown
            styleClass="flex"
            [options]="projectsDatas"
            [filter]="true"
            filterBy="nome"
            optionLabel="nome"
            optionValue="id"
            placeholder="Projeto"
            (onChange)="onProjectChange($event)"
            formControlName="projetoId"/>
        </div>
      </div>
    </div>
    <div class="status">
      <label for="">Status:</label>
      <div class="input-container">
        <p-dropdown
          styleClass="flex"
          [options]="status"
          optionLabel="name"
          optionValue="name"
          placeholder="Status"
          formControlName="status"/>
      </div>
    </div>
    <div>
      <textarea
        rows="5"
        cols="40"
        pInputTextarea
        pTooltip="(max): 200 caracteres"
        tooltipStyleClass="custom-tooltip"
        tooltipPosition="top"
        placeholder="Descrição"
        [autoResize]="true"
        formControlName="descricao">
      </textarea>
    </div>

    <div class="button-container">
      <button type="submit">Salvar</button>
    </div>
  </form>
</div>
