<div class="form-container" *ngIf="userAction?.event?.action === addUserAction">
  <form [formGroup]="signupForm" (ngSubmit)="submitSignUpForm()">
    <div class="input-container custom-input">
      <input
        type="text"
        pInputText
        placeholder="Nome"
        pTooltip="Nome - máx(50)"
        tooltipStyleClass="ml-2 custom-tooltip"
        tooltipPosition="top"
        formControlName="nome">
    </div>

    <div class="input-container">
      <input
        type="text"
        pInputText
        placeholder="Email"
        pTooltip="nome@workflow.com"
        tooltipStyleClass="ml-2 custom-tooltip"
        tooltipPosition="top"
        formControlName="email">
    </div>

    <div class="input-container">
      <input
        type="password"
        pInputText pTooltip="Senha - máx(15)"
        tooltipStyleClass="ml-2 custom-tooltip"
        tooltipPosition="top"
        placeholder="Senha"
        formControlName="senha">
    </div>

    <div class="input-container">
      <p-dropdown
        styleClass="flex"
        [options]="profiles"
        optionLabel="name"
        optionValue="name"
        placeholder="Perfil"
        formControlName="perfil"/>
    </div>

    <div class="button-container">
      <button type="submit" >Salvar</button>
    </div>
  </form>
</div>

<div class="form-container" *ngIf="userAction?.event?.action === editUserAction">
  <form [formGroup]="editUserForm" (ngSubmit)="submitEditUser()">
    <div class="input-container">
      <input
        type="text"
        pInputText
        placeholder="Nome"
        pTooltip="Nome - máx(50)"
        tooltipPosition="top"
        tooltipStyleClass="ml-2 custom-tooltip"
        formControlName="nome">
    </div>

    <div class="input-container">
      <input
        type="text"
        pInputText
        placeholder="Email"
        pTooltip="nome@workflow.com"
        tooltipStyleClass="ml-2 custom-tooltip"
        tooltipPosition="top"
        formControlName="email">
    </div>

    <div class="input-container">
      <input
        type="password"
        pInputText pTooltip="Senha - máx(15)"
        tooltipStyleClass="ml-2 custom-tooltip"
        placeholder="Senha"
        tooltipPosition="top"
        formControlName="senha">
    </div>

    <div class="input-container">
      <p-dropdown
        styleClass="flex"
        [options]="profiles"
        optionLabel="name"
        optionValue="name"
        placeholder="Perfil"
        formControlName="perfil"/>
    </div>

    <div class="button-container">
      <button type="submit" >Salvar</button>
    </div>
  </form>
</div>
