<div class="form-container">
  <p-card>
    <form [formGroup]="addProjectForm" (ngSubmit)="submitProjectForm()">
      <div class="input-container">
        <input pInputText placeholder="Nome" formControlName="nome">
      </div>
      <div class="flex">
        <div class="input-container custom-input">
          <p-inputMask mask="99/99/9999" placeholder="DD/MM/YYYY" formControlName="data_inicio"></p-inputMask>
        </div>
        <div class="input-container custom-input">
          <p-inputMask mask="99/99/9999" placeholder="DD/MM/YYYY" formControlName="data_fim"></p-inputMask>
        </div>
      </div>
      <div class="flex">
        <div class="input-container custom-input">
          <p-dropdown
            styleClass="flex"
              [options]=""
              optionLabel="name"
              optionValue="name"
              placeholder="Usuário"
              formControlName="usuarioId"/>
        </div>
        <div class="input-container custom-input">
          <p-dropdown
            styleClass="flex"
            [options]="priorities"
            optionLabel="name"
            optionValue="name"
            placeholder="Prioridade"
            formControlName="prioridade"/>
        </div>
        <div class="input-container custom-input">
          <p-dropdown
            styleClass="flex"
            [options]="status"
            optionLabel="name"
            optionValue="name"
            placeholder="Status"
            formControlName="status"/>
        </div>
      </div>
      <div>
        <textarea
          rows="5"
          cols="40"
          pInputTextarea
          placeholder="Descrição"
          [autoResize]="true"
          formControlName="descricao">
        </textarea>
      </div>

      <div class="button-container">
        <button type="submit">Salvar</button>
      </div>
    </form>
  </p-card>
</div>
