<div class="form-container" *ngIf="projectAction?.event?.action === addProjectAction">
    <form [formGroup]="addProjectForm" (ngSubmit)="submitProjectForm()">
      <div class="flex">
        <div class="input-container custom-input">
          <input pInputText pTooltip="(max: 50 caracteres)" placeholder="Nome" formControlName="nome">
        </div>

        <div class="input-container custom-input">
          <p-dropdown
            styleClass="flex"
            [options]="usersDatas"
            optionLabel="nome"
            optionValue="id"
            [filter]="true"
            filterBy="nome"
            placeholder="Responsável"
            formControlName="usuarioId"/>
        </div>
      </div>
      <div class="input-container">
        <p-autoComplete
          [suggestions]="filterDatas"
          (completeMethod)="searchUsers($event)"
          field="nome"
          placeholder="Integrantes"
          [multiple]="true"
          formControlName="integrantesIds"/>
      </div>
      <div class="flex">
        <div class="input-container custom-input">
          <p-calendar
            [showIcon]="true"
            [showOnFocus]="false"
            inputId="buttondisplay"
            dateFormat="dd/mm/yy"
            placeholder="DD/MM/YYYY"
            formControlName="data_inicio" />
        </div>
        <div class="input-container custom-input">
          <p-calendar
            [showIcon]="true"
            [showOnFocus]="false"
            inputId="buttondisplay"
            dateFormat="dd/mm/yy"
            placeholder="DD/MM/YYYY"
            formControlName="data_fim" />
        </div>
        <div class="input-container custom-input">
          <p-dropdown
            styleClass="flex"
            [options]="priorities"
            optionLabel="name"
            optionValue="name"
            placeholder="Prioridade"
            formControlName="prioridade"/>
        </div>
        <div class="input-container custom-input">
          <p-dropdown
            styleClass="flex"
            [options]="status"
            optionLabel="name"
            optionValue="name"
            placeholder="Status"
            formControlName="status"/>
        </div>
      </div>
      <div>
        <textarea
          rows="5"
          cols="40"
          pInputTextarea
          pTooltip="(max: 200 caracteres)"
          placeholder="Descrição"
          [autoResize]="true"
          formControlName="descricao">
        </textarea>
      </div>

      <div class="button-container">
        <button type="submit">Salvar</button>
      </div>
    </form>
</div>

<div class="form-container" *ngIf="projectAction?.event?.action === editProjectAction">
  <form [formGroup]="editProjectForm" (ngSubmit)="submitEditProject()">
    <div class="flex">
      <div class="input-container custom-input">
        <input pInputText pTooltip="(max: 50 caracteres)" placeholder="Nome" formControlName="nome">
      </div>

      <div class="input-container custom-input">
        <p-dropdown
          styleClass="flex"
          [options]="usersDatas"
          optionLabel="nome"
          optionValue="id"
          [filter]="true"
          filterBy="nome"
          formControlName="usuarioId"/>
      </div>
    </div>
    <div class="flex">
      <div class="input-container custom-input">
        <p-calendar
          [showIcon]="true"
          [showOnFocus]="false"
          inputId="buttondisplay"
          dateFormat="dd/mm/yy"
          placeholder="DD/MM/YYYY"
          formControlName="data_inicio" />
      </div>
      <div class="input-container custom-input">
        <p-calendar
          [showIcon]="true"
          [showOnFocus]="false"
          inputId="buttondisplay"
          dateFormat="dd/mm/yy"
          placeholder="DD/MM/YYYY"
          formControlName="data_fim" />
      </div>
      <div class="input-container custom-input">
        <p-dropdown
          styleClass="flex"
          [options]="priorities"
          optionLabel="name"
          optionValue="name"
          placeholder="Prioridade"
          formControlName="prioridade"/>
      </div>
      <div class="input-container custom-input">
        <p-dropdown
          styleClass="flex"
          [options]="status"
          optionLabel="name"
          optionValue="name"
          placeholder="Status"
          formControlName="status"/>
      </div>
    </div>
    <div>
      <textarea
        rows="5"
        cols="40"
        pInputTextarea
        pTooltip="(max: 200 caracteres)"
        placeholder="Descrição"
        [autoResize]="true"
        formControlName="descricao">
      </textarea>
    </div>

    <div class="button-container">
      <button type="submit">Salvar</button>
    </div>
  </form>
</div>
